body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  #mainLogo{
  }

  .green-gradient{
    background: rgb(53,216,148);
    background: linear-gradient(180deg, rgba(53,216,148,1) 0%, rgba(9,157,95,1) 70%);
  }

  .yellow-gradient{
    background: rgb(255,204,92);
    background: linear-gradient(180deg, rgba(255,204,92,1) 0%, rgba(254,66,77,1) 70%);
  }

  .blue-gradient{
    background: rgb(128,208,255);
    background: linear-gradient(90deg, rgba(128,208,255,1) 0%, rgba(26,125,183,1) 70%);
  }

  .purple-gradient{
    background: rgb(182,89,222);
    background: linear-gradient(180deg, rgba(182,89,222,1) 0%, rgba(123,31,162,1) 70%);
  }

  .has-image-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    
  }

  .has-image-centered-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
  }

  .button-text{
      color:rgb(53,216,148);
  }

  .button-green{
      background-color: rgb(53,216,148);
      color:white;
  }

  .list-margin li{
      margin-top: 16px;
  }

  .list-margin{
      margin-top: 64px;
  }


